@import "../styles/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$fontFamily : 'Montserrat', sans-serif;
$mobile : 480px;
$tablette : 1024px;

@mixin dimensions-max {
    height: 100%;
    width: 100%;
}

*{
    box-sizing: border-box;
}

.banner {
    position: relative;
    height: 223px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 30px 0;
    &__home {
        @media screen and (max-width : $tablette) {
            height: 166px;
        }
        @media screen and (max-width : $mobile) {
            justify-content: flex-start;
            height: 111px;
        }
    }
    &--img {
        @include dimensions-max;
        border-radius: 25px;
        object-fit:cover;
    }
    &--titre {
        position : absolute;
        z-index: 1;
        margin : 0;
        color: white;
        line-height: 68.45px;
        font : {
            family: $fontFamily;
            weight: 500;
            size : 48px;
        }
        @media screen and (max-width : $tablette) {
            padding: 30px;
            font-size: 36px;
        }
        @media screen and (max-width : $mobile) {
            font-size: 24px;
            line-height: 24px;
        }
        &--br {
            display: none;
            @media screen and (max-width : $mobile) {
               display: inline ;
            }
        }
    }
    &--background {
        position: absolute;
        @include dimensions-max;
        opacity: 30%;
        background-color: black;
        border-radius: 25px;
    }
}
