@import "../styles/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

$primaryColor: #FF6060 ;

.collapse {
    display: flex;
    width: 100%;

    flex-direction: column;
    padding-bottom: 25px ;
    &__housing {
        width: 45%;
    }
    &--haut {
        height: 47px;
        width: 100%;
        display: flex;

        flex-direction: row;
        padding : 15px;
        align-items: center;
        justify-content: space-between;
        background: $primaryColor;
        border-radius: 10px;
        &--titre {
            font : {
                family:'Montserrat', sans-serif;
                weight : 500
            }
            color: white;
            size: 24px;
            line-height: 34.22px;
        }
    }
    &--bas {
        width: 100%;

        background: #F6F6F6;
        border-radius: 10px;
        padding: 15px;
        &__housing {
            height: 100%;
        }
        &--desc {
            list-style: none;
            font : {
                family:'Montserrat', sans-serif;
                weight : 400
            }
            size: 24px;
            line-height: 34.22px;
            color: $primaryColor;
        }
    }
}