@import "../styles/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

$mobile : 480px;
$tablette : 1024px;

.footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items : center; 
    height : 209px;
    justify-content: center;
    margin-top: 30px;
    &--texte {
        color : white;
        line-height: 34.22px;
        font : {
            family : "Montserrat", sans-serif;
            weight : 500;
            size : 24px;
        }
        @media screen and (max-width: $tablette) {
            font-size: 18px;
        }
        @media screen and (max-width: $mobile) {
            font-size: 12px;
            line-height: 17.11px;
        }
    }
}