@import "../styles/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$mobile : 480px;
$tablette : 1024px;
$fontFamily : 'Montserrat', sans-serif;

@mixin dimensions-article {
    width: 340px;
    height : 340px;
}

*{
    box-sizing: border-box;
}

.galerie {
    display : flex;
    flex-wrap: wrap;
    padding : 30px 0px;
    justify-content: space-evenly;
    background-color : #F6F6F6;
    border-radius : 25px;
    @media screen and (max-width : $mobile) {
        padding-top: 0;
        background-color: transparent;
    }
}

.article {
    position: relative;
    @include dimensions-article;
    display : flex;
    flex-direction : column;
    margin-bottom: 30px;
    border-radius: 10px;
    @media screen and (max-width : $mobile) {
        width: 100%;
    }
    &--img {
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        @media screen and (max-width : $mobile) {
            width: 100%;
        }
    }
    &--titre {
        position : absolute;
        bottom: 0px;
        left: 20px;
        z-index: 1;
        color: white;
        line-height: 25.67px;
        font : {
            family: $fontFamily;
            weight : 500;
            size : 18px;
        }
    }
    &--background{
        position : absolute;
        @include dimensions-article;
        background: linear-gradient(transparent,black);
        opacity: 90%;
        border-radius: 10px;
        @media screen and (max-width : $mobile) {
            width: 100%;
        }
    }
}
