@import "../styles/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

.galerie {
    display : flex;
    
    flex-wrap: wrap;
    background-color : #F6F6F6;
    border-radius : 25px;
    justify-content: space-evenly;
    padding : 30px 0px;
    
}

.article {
    display : flex;
    width: 340px;
    height : 340px;
    position: relative;

    flex-direction : column;
    border-radius: 10px;
    margin-bottom: 30px;
    &--img {
        height: 100%;

        border-radius: 10px;
        object-fit: cover;
    }
    &--titre {
        position : absolute;
        bottom: 0px;
        left: 20px;
        z-index: 1;

        color: white;
        line-height: 25.67px;
        font : {
            family: 'Montserrat', sans-serif;
            weight : 500;
            size : 18px;
        }
    }
    &--background{
        position : absolute;
        width: 340px;
        height : 340px;
        
        background: linear-gradient(transparent,black);
        opacity: 90%;
        border-radius: 10px;
    }
}
