@import "../styles/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$mobile : 480px;
$tablette : 1024px;
$fontFamily : 'Montserrat', sans-serif;
$primaryColor: #FF6060 ;

*{
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 30px 60px;
    justify-content: space-between;
    align-items: center;
    font : {
        family: $fontFamily;
        size: 24px;
    }
    @media screen and (max-width : $tablette) {
        margin: 25px 35px ;
        font-size: 15px;
        text-transform: uppercase; 
    }
    @media screen and (max-width : $mobile) {
        margin: 20px ;
        font-size: 12px;
        line-height: 17.11px;
    }
    &--img{
        @media screen and (max-width : $tablette) {
            width: 200px;
        }
        @media screen and (max-width : $mobile) {
            width: 145px;
            height: 47px;
        }
    }
    &--nav {
        :first-child {
            padding-right: 40px;
            @media screen and (max-width : $tablette) {
                padding-right: 20px;
            }
            @media screen and (max-width : $mobile) {
                padding-right: 9px;
            }
        }
        &--link {
            align-self: center;
            color: $primaryColor; 
            text-decoration: none;
        }
        &--accueil {
            text-decoration: underline;
        }
        &--apropos {
            text-decoration: underline;
        }
    }
}




