@import "../styles/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$mobile : 480px;
$tablette : 1024px;

*{
    box-sizing: border-box;
}

.main--home {
    margin : 30px 60px;
    @media screen and (max-width : $tablette) {
        margin: 25px 35px ;
    }
    @media screen and (max-width : $mobile) {
       margin: 20px ;
    }
}

