@import "../styles/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$mobile : 480px;
$tablette : 1024px;
$fontFamily : 'Montserrat', sans-serif;
$primaryColor: #FF6060 ;

*{
    box-sizing: border-box;
}

.main--housing {
    margin: 30px 60px;
    @media screen and (max-width : $tablette) {
        margin: 25px 35px ;
    }
    @media screen and (max-width : $mobile) {
        margin: 20px;
    }
}

.infos{
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    @media screen and (max-width : $mobile) {
        flex-direction: column;
    }
    .partie1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--titre {
            margin: 0;
            color: $primaryColor ;
            line-height: 51.34px;
            font : {
                size: 36px;
                weight : 500;
                family : $fontFamily;
            }   
            @media screen and (max-width : $tablette) {
                font-size: 23px;
            }
            @media screen and (max-width : $mobile) {
                font-size: 18px;
                line-height: 25.67px;
            }
        }
        &--localisation{
            margin-top: 0;
            color: $primaryColor ;
            line-height: 25.67px;
            font : {
                size: 18px;
                weight : 500;
                family : $fontFamily;
            }
            @media screen and (max-width : $tablette) {
                font-size: 16px;
            }
            @media screen and (max-width : $mobile) {
                font-size: 14px;
                line-height: 19.96px;
            }
        }
        &--tags{
            display: flex;
            &--tag{
                padding:  4px 20px;
                margin-right: 10px;
                border: solid tranparent 1px;
                border-radius: 10px;
                background: $primaryColor;
                color: white;
                line-height: 19.96px;
                font : {
                    size: 14px;
                    weight : 500;
                    family : $fontFamily;
                }
                @media screen and (max-width : $tablette) {
                    font-size: 11px;
                }
                @media screen and (max-width : $mobile) {
                    font-size: 10px;
                    line-height: 14.26px;
                }
            }
        }
    }
    .partie2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width : $mobile) {
            flex-direction: row-reverse;
            align-items: center;
        }
        &--proprio{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            &--nom{
                padding-right: 10px;
                line-height: 25.67px;
                color: $primaryColor ;
                font : {
                    size: 18px;
                    weight : 500;
                    family : $fontFamily;
                }
                @media screen and (max-width : $tablette) {
                    font-size: 16px;
                }
                @media screen and (max-width : $mobile) {
                    font-size: 12px;
                    line-height: 17.11px;
                }
            }
            &--photo{
                height: 64px;
                width: 64px;
                border-radius: 50%;
                background: #C4C4C4;
            }
        }
    }
}

.section_collapses{
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media screen and (max-width : $tablette) {
        flex-direction: column;
    }
}