@import "../styles/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

$mobile : 480px;
$tablette : 1024px;

.slideShow {
    width: 100%;
    height: 415px;  
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    @media screen and (max-width : $tablette) {
        height: 320px;
    }
    @media screen and (max-width : $mobile) {
        height: 255px;
    }
    &--background{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
    }
    &--arrowLeft{
        position: absolute;
        top: 180px;
        left: 30px ;
        @media screen and (max-width : $tablette) {
            width: 40px;
            top: 129px;
        }
        @media screen and (max-width : $mobile) {
            top: 110px;
            width: 24px;
        }
    }
    &--arrowRight {
        position: absolute;
        top: 180px;
        right: 30px;
        @media screen and (max-width : $tablette) {
            width: 40px;
            top: 129px;
        }
        @media screen and (max-width : $mobile) {
            top: 110px;
            width: 24px;
        }
    }
    &--compteur{
        position: absolute;
        bottom: 0px;
        color: white; 
        line-height: 25.67px;
        font: {
            family : 'Montserrat', sans-serif;
            weight : 500;
            size: 18px;
        }
        @media screen and (max-width : $mobile) {
            display: none;
        }
    }
}